<div class="page-Section page-Section_title">
  <h1 class="page-Title">
    Settings
  </h1>
</div>
<div class="page-Section page-Section_fullwidth page-Section_white page-Section_usersettings">
  <form class="userSettings-Form" action="/user/update" method="POST">
    <div class="form-group">
      <label for="userEmailInput">Email address</label>
      <input type="email" class="form-control" id="userEmailInput" aria-describedby="emailHelp" placeholder="Enter email" name="email"
        value="{{user.email}}">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="userNameInput">Name</label>
      <input type="text" class="form-control" id="userNameInput" placeholder="Name" name="name" value="{{user.name}}">
    </div>
    <input type="hidden" name="uid" id="uid" value="{{user.uid}}">
    <button type="submit" class="btn btn-primary" id="userUpdateBtn">Save</button>
  </form>
</div>
{{!-- <div class="page-userOverview">
    <div class="page-userOverview_item page-userOverview_item_mail">
      <span class="item-mail">Email</span>
    </div>
    <div class="page-userOverview_item page-userOverview_item_name">
      Name
    </div>
    <div class="page-userOverview_item page-userOverview_item_roles">
      Roles
    </div>
    <div class="page-userOverview_item page-userOverview_item_options">
    </div>
    {{#each users}}
      <span class="page-userOverview_item_data" data-id="{{_id}}" data-usermail="{{local.email}}" data-roles="{{arrayToString roles}}"></span>
      <div class="page-userOverview_item page-userOverview_item_mail">
        <span class="item-mail">{{local.email}}</span>
      </div>
      <div class="page-userOverview_item page-userOverview_item_name">
        <input type="text" class="item-name" value="{{name}}" data-id="{{_id}}"></input>
      </div>
      <div class="page-userOverview_item page-userOverview_item_roles">
        <input type="text" class="item-roles" value="{{arrayToString roles}}" data-id="{{_id}}"></input>
      </div>
      <div class="page-userOverview_item page-userOverview_item_options" data-id="{{_id}}">
        {{#if (hasNotRole roles 'superadmin')}}
          <i class="item_delete-button button fa fa-trash-o" data-id="{{_id}}"></i>
        {{/if}}
        {{#if (hasRole roles 'provisional')}}
          <i class="item_promote-button button fa fa-thumbs-up" data-id="{{_id}}"></i>
        {{/if}}
        <i class="item_save-button button fa fa-floppy-o" data-id="{{_id}}"></i>
      </div>
    {{/each}}
    {{>user_delete_verify}}
    <div class="content-placeholder"></div>
  </div>
  <button type="button" name="button" class="page-button_user_remove_provisional red hidden">Remove all provisional</button>
  </br> --}}
